In [1]:
import numpy as np
import pandas as pd
import jsonlines

In [2]:
# kaggle_data
df1 = pd.read_csv('./data/kaggle_fake.csv')
df1 = df1[['title','text']]
df1['label'] = pd.Series(np.ones(df1.shape[0]))
df1[:5]

,title,text,label
0,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,1.0
1,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,1.0
2,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,1.0
3,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,1.0
4,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,1.0

In [3]:
# one_million
temp_dict = {'title':[], 'text':[], 'label':[]}
with jsonlines.open('./data/1_mil_subset.jsonl') as reader:
    for obj in reader:
        temp_dict['title'].append(obj['title'])
        temp_dict['text'].append(obj['content'])
        temp_dict['label'].append(0)

df2 = pd.DataFrame(temp_dict)
df2 = df2[['title','text','label']]
df2[:5]

,title,text,label
0,Worcester breakfast club for veterans gives hu...,VETERANS saluted Worcester's first ever breakf...,0
1,Jumpshot Gives Marketers Renewed Visibility In...,New Product Gives Marketers Access to Real Key...,0
2,The Return Of The Nike Air Max Sensation Has 8...,Home »\rStyle » The Return Of The Nike Air Max...,0
3,This New Dating App Will Ruin Your Internet Game,NYMag.com Daily Intelligencer Vulture The Cut ...,0
4,Pay up or face legal action: DBKL,"KUALA LUMPUR, Sept 15 (MySinchew) -- The Kuala...",0

In [4]:
df = pd.concat([df1,df2])
df = df.sample(frac=1).reset_index(drop=True)

In [5]:
df.to_csv('./data/train_data.csv', header=True, index=False)